* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(18, 12, 45);
}

body {
  /* background: linear-gradient(0deg, #ee82ee, black 88%); */
  background: linear-gradient(7deg, #e9e9e9 30%, rgb(255, 0, 102) 60%, rgb(18, 12, 45) 90%);
  
}

.snowflake {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  animation: fall 15s linear infinite;
  z-index: 2;
}

.star {
  position: absolute;
  background: #fff;
  /* You can replace this with your star image */
  border-radius: 50%;
  animation: twinkle 1s infinite alternate;
  /* Add twinkling animation */
}

@keyframes twinkle {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}


@keyframes fall {
  0% {
    transform: translateY(1vh);
    opacity: 0.8;
  }

  100% {
    transform: translateY(110vh);
    opacity: 0.5;
  }
}

.general {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: radial-gradient(circle, rgba(255, 255, 255, 0.467) 1px, transparent 1px); */
  background-size: 38px 44px;
  /* spacing between dots */

  overflow: hidden;
  font-family: Roboto, sans-serif, Arial, Helvetica;
  height: 800px;
  min-height: 100vh;
  min-width: 360px;
  position: relative;
  user-select: none;
  padding: 0 20px 0 20px;
  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  margin: 30px 0 20px 0;
  width: clamp(580px, 80vw, 780px);
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
  /* background-color: rgba(97, 102, 251, 0.145); */
  border-radius: 30px;
  z-index: 100;
}

.header>div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  z-index: 100;
}

.unicorn-img {
  width: 80px;
  user-select: all;
  border-radius: 20px;
}

.title {
  font-family: Pixelify Sans, Arial, Helvetica, sans-serif;
  color: rgb(170, 255, 0);
  font-size: clamp(40px, 5.9svw, 50px);
  text-align: center;
  width: max-content;
  text-shadow: 0 0px 10px rgb(53, 0, 187);
}

.title2 {
  color: azure;
  text-align: center;
  font-size: 26px;
  position: relative;
  font-family: Pixelify Sans;
}

/* .title3 {
  color: white;
  text-align: left;
} */

.main__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.winner__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: clamp(360px, 50vw, 500px);
  height: 77px;
  font-size: 26px;
  font-family: Pixelify Sans;
  background-color: rgb(247, 247, 247);
  border-radius: 18px;
  box-sizing: border-box;
  margin-bottom: 12px;
  /* box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.7); */
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  z-index: 100;
}

.name-stars1 {
  color: #681d68;
  font-size: 26px;
}

.name-stars2 {
  color: rgb(67, 64, 255);
}

.name-stars3 {
  color: rgb(196, 196, 0);
}

.name-stars4 {
  color: green;
}

.name-stars5 {
  color: rgb(47, 175, 218);
}

.name-stars6 {
  color: rgb(67, 64, 255);
}

.name-stars7 {
  color: rgb(196, 196, 0);
}

.name-stars8 {
  color: rgb(47, 175, 218);
}

.name-stars9 {
  color: rgb(255, 0, 38);
}

.name-stars10 {
  color: rgb(255, 0, 38);
  color: green;
}



.winner__container__animation {
  animation: anime2 0.24s ease-in-out;
  animation-iteration-count: 11;
}

@keyframes anime2 {
  0% {
    /* background-color: rgb(170, 255, 0); */
    background: linear-gradient(white, rgb(174, 255, 171));
    /* box-shadow: 0px 0px 20px 14px rgb(255, 255, 255); */
  }

  100% {
    background-color: white;
    /* box-shadow: 0px 0px 20px 14px rgba(255, 255, 255, 0); */
  }
}

/* .winner__container::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 25px solid;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-30%);
}

.winner__container::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 25px solid;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-30%);
} */


.winner-name-animation {
  animation: anime1 0.094s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  0% {
    transform: translateY(-31px);
  }

  100% {
    transform: translateY(17px);
  }
}

.winner__incription {
  font-size: 16px;
  position: absolute;
  top: 5px;
  left: 10px;
}

.result__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: clamp(360px, 50vw, 500px);
  /* background-color: white; */
  background-color: rgb(247, 247, 247);
  height: 230px;
  /* box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.7); */
  border-radius: 18px;
  box-sizing: border-box;
  z-index: 100;
  font-family: Pixelify Sans;
  /* box-shadow: 0px 0px 20px 14px rgb(255, 255, 255); */
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.dots-wrapper {
  border-radius: 16px;
  animation: anime5 0.3s linear alternate;
  animation-iteration-count: 7;
  /* outline: none; */
  /* animation: textcolor2 4s  5s linear infinite alternate; */
}



/* @keyframes anime5 {
  0% {
    outline: 13px violet dotted;
  }

  50% {
    display: none;
  }

  100% {
    outline: 13px limegreen dotted;
  }
} */

.container__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(190px, 34vw, 330px);
  height: 230px;
}

.prize-animation {
  animation: anime3 1.5s ease 0s 1 normal forwards;
}

@keyframes anime3 {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  /* 80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  } */
}

.prize-animation-disappearing {
  animation: anime4 2s ease 0s 1 normal forwards;
}

@keyframes anime4 {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}



.container__img {
  max-height: 90%;
  max-width: 230px;
  opacity: 1;
  transition: 0.5s;
}

.buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  margin-top: 12px;
}

.start__btn,
.reset__btn {
  /* width: clamp(160px, 24svw, 210px); */
  padding: 0 20px 0 20px;
  width: 94px;
  height: 94px;
  border: none;
  font-family: Pixelify Sans, Arial;
  /* background: linear-gradient(20deg, red, lightgreen, rgb(163, 209, 255), rgb(53, 1, 69)); */
  /* background-color: rgb(57, 57, 57); */
  /* background: linear-gradient(45deg, rgb(255, 35, 35), rgb(79, 162, 229), green);*/
  border-radius: 900px;
  background-color: yellowgreen;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.600);
  font-size: 25px;
  cursor: pointer;
  z-index: 100;
}

.save__btn {
  height: 70px;
  width: auto;
}

.red-btn {
  padding: 0 20px 0 20px;
  height: 70px;
  width: 70px;
  border: none;
  font-family: Pixelify Sans, Arial;
  /* background: linear-gradient(20deg, red, lightgreen, rgb(163, 209, 255), rgb(53, 1, 69)); */
  /* background-color: rgb(57, 57, 57); */
  /* background: linear-gradient(45deg, rgb(255, 35, 35), rgb(79, 162, 229), green);*/
  border-radius: 900px;
  background-color: red;
  box-shadow: inset 0 0 6px black;
  font-size: 25px;
  cursor: pointer;
  z-index: 100;
}

/* .start__btn {
  display: none;
} */

.reset__btn {
  display: none;
  background-color: rgb(249, 47, 47);
  width: 94px;
  height: 94px;
  /* font-size: 23px; */
  /* margin-left: 20px; */
}

.start__btn:active {
  background-color: rgb(135, 185, 36);
}

.reset__btn:active {
  background-color: rgb(202, 21, 21);
}

footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 40px;
  right: 40px;
  color: rgb(120, 120, 120);
  box-sizing: border-box;
  z-index: 100;
}

footer span {
  margin-inline: 10px;
}

footer:last-child {
  font-family: roboto;
  ;
  font-size: 16px;
}

@media (max-width: 584px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
    width: clamp(320px, 70vw, 500px);
  }

  .winner__container {
    width: clamp(350px, 66vw, 600px);
    font-size: 24px;
    margin-bottom: 8px;
  }

  .name-stars1 {
    color: #681d68;
    font-size: 22px;
  }

  .result__container {
    width: clamp(350px, 66vw, 600px);
  }

  .unicorn-img {
    width: 80px;
  }

  .title {
    font-family: Pixelify Sans;
    font-size: 28px;
    text-align: left;
  }

  .title2 {
    font-size: 18.5px;
  }

  .buttons__container {
    margin-top: 8px;
  }

  footer {
    /* display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
    color: azure;
    box-sizing: border-box; */
    font-size: 12px;
    min-width: 310px;
  }

  footer span {
    margin-inline: 4px;
  }
}
