body {
  margin: 0;
  /* max-width: 100vw; */

}

.light {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  filter: blur(12px);
  animation: shimmer 5s infinite ease-in-out;
}

@keyframes shimmer {
  0% { opacity: 0.1; transform: scale(1); }
  50% { opacity: 0.7;   transform: scale(1.2); }
  100% { opacity: 0.1; transform: scale(1); }
}