body {
  /* background: #000; лучше для эффектов */
}

.lights {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 1;
}

/* базовый стиль лампочки */
.light {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.8;
  animation: flicker 5s infinite ease-in-out;
  filter: blur(30px);
}

/* имитация случайного расположения */
.light:nth-child(1) { top: 20%; left: 10%; background: red; animation-delay: .1s; transform: scale(1.4); }
.light:nth-child(2) { top: 50%; left: 80%; background: gold; animation-delay: .4s; transform: scale(1.2); }
.light:nth-child(3) { top: 40%; left: 5%; background: lime; animation-delay: 1s; transform: scale(0.9); }
.light:nth-child(4) { top: 40%; left: 60%; background: cyan; animation-delay: .3s; transform: scale(1.3); }
.light:nth-child(5) { top: 7%; left: 75%; background: magenta; animation-delay: 1.3s; transform: scale(1.1); }
.light:nth-child(6) { top: 4%; left: 20%; background: orange; animation-delay: .9s; transform: scale(1.5); }
.light:nth-child(7) { top: 30%; left: 45%; background: violet; animation-delay: .6s; transform: scale(0.8); }
.light:nth-child(8) { top: 50%; right: 9%; background: rgb(0, 119, 255); animation-delay: 1.6s; transform: scale(1.4); }
.light:nth-child(9) { top: 85%; left: 70%; background: pink; animation-delay: .2s; transform: scale(1.0); }
.light:nth-child(10){ top: 13%; left: 90%; background: turquoise; animation-delay: 1s; transform: scale(1.3); }

/* мерцание */
@keyframes flicker {
  0%, 100% { opacity: 0.2; filter: blur(9px); }
  50%      { opacity: 1;   filter: blur(15px); }
}
